Plugins>Feature Extraction>FeatureJ, "FeatureJ Derivatives", featurej.FJ_Derivatives
Plugins>Feature Extraction>FeatureJ, "FeatureJ Edges", featurej.FJ_Edges
Plugins>Feature Extraction>FeatureJ, "FeatureJ Hessian", featurej.FJ_Hessian
Plugins>Feature Extraction>FeatureJ, "FeatureJ Laplacian", featurej.FJ_Laplacian
Plugins>Feature Extraction>FeatureJ, "FeatureJ Options", featurej.FJ_Options
Plugins>Feature Extraction>FeatureJ, "FeatureJ Panel", featurej.FJ_Panel
Plugins>Feature Extraction>FeatureJ, "FeatureJ Statistics", featurej.FJ_Statistics
Plugins>Feature Extraction>FeatureJ, "FeatureJ Structure", featurej.FJ_Structure
Help>About Plugins, "FeatureJ...", featurej.FJ_Help
